* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #fff5e2;
}

.container {
  width: 800px;
  margin: 0 auto;
  background-color: white;
}

.paddinglr-40 {
  padding-left: 40px;
  padding-right: 40px;
}

.paddingtb-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

/* TITOLO */
.title {
  height: 15vh;
  background-color: #fdbb40;
  padding-top: 50px;
  font-weight: 900;
  position: relative;
}

.burger-img {
  width: 200px;
  position: absolute;
  right: -40px;
  top: -30px;
}

/* PARTE CENTRALE */
main {
  height: 73vh;
}

#burger-name {
  width: 50%;
  font-size: 22px;
  background-color: #fff5e2;
  margin: 30px 0;
  padding: 5px;
  border: none;
  border-radius: 10px;
  outline: none;
}

.burger-name-error, .ingredients-error {
  color: #d33359;
  font-weight: bold;
  font-size: 18px;
  margin-left: 10px;
}

h2 {
  font-weight: 400;
  padding-bottom: 10px;
  display: inline-block;
}

.ingredients-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 200px;
}

.ingredients-list > * {
  padding-top: 10px;
  padding-bottom: 10px;
}

label {
  color: #d33359;
  cursor: pointer;
}

label > span {
  color: black;
  margin: 0 10px;
}

.ingredient-img {
  width: 45px;
  vertical-align: middle;
  margin-right: 5px;
}

.ingredient-checkbox {
  cursor: pointer;
}

.coupon {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 16px;
}

#coupon-inserito {
  background-color: #fff5e2;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 5px;
  margin-left: 5px;
  width: 500px;
  font-size: 12px;
}

.button-container {
  text-align: center;
}

#button-calculate {
  background-color: #fdbb40;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

/* PREZZO */
.price {
  height: 12vh;
  background-color: #d33359;
  color: white;
  font-weight: bold;
  font-size: 26px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
