* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #fff5e2;
}

.container {
  width: 800px;
  height: 100vh;
  margin: 0 auto;
  background-color: white;
}

.paddinglr-40 {
  padding-left: 40px;
  padding-right: 40px;
}

.paddingtb-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

/* TITOLO */
.title {
  height: 15%;
  background-color: #fdbb40;
  padding-top: 50px;
  font-weight: 900;
  position: relative;
}

.burger-img {
  width: 200px;
  position: absolute;
  right: -40px;
  top: -30px;
}

/* PARTE CENTRALE */
main {
  height: 75%;
}

#burger-name {
  width: 50%;
  font-size: 22px;
  background-color: #fff5e2;
  margin: 30px 0;
  padding: 5px;
  border: none;
  border-radius: 10px;
  outline: none;
}

.burger-error-css, .ingredients-error-css {
  color: white;
  background: #d33359;
  border-radius: 5px;
  padding: 5px;
  font-weight: bold;
  font-size: 18px;
  margin-left: 10px;
  /* positioned elements will display on top of unpositioned elements */
  position: relative;
}

h2 {
  font-weight: 400;
  padding-bottom: 10px;
  display: inline-block;
}

.ingredients-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 40%;
}

.ingredients-list > * {
  padding-top: 10px;
  padding-bottom: 10px;
}

label {
  color: #d33359;
  cursor: pointer;
  display: block;
  position: relative;
}

.checkbox-name {
  color: black;
}

label input {
  position: relative;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

label .add {
  position: absolute;
  left: 180px;
  top: 22px;
}

.checkmark {
  position: absolute;
  left: 150px;
  top: 25px;
  height: 15px;
  width: 15px;
  background-color: #d33359;
  border-radius: 3px;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 3px;
  top: 0px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.ingredient-img {
  width: 45px;
  vertical-align: middle;
  margin-right: 5px;
}

.ingredient-checkbox {
  cursor: pointer;
  margin-right: 10px;
}

.coupon {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 16px;
}

#coupon-inserito {
  background-color: #fff5e2;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 5px;
  margin-left: 5px;
  width: 500px;
  font-size: 12px;
}

.button-container {
  text-align: center;
}

#button-calculate {
  background-color: #fdbb40;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

/* PREZZO */
.price {
  height: 10%;
  background-color: #d33359;
  color: white;
  font-weight: bold;
  font-size: 26px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
