* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff5e2;
}

.container {
  width: 800px;
  background-color: white;
}

.paddinglr-30 {
  padding-left: 30px;
  padding-right: 30px;
}

.paddingtb-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

/* TITOLO */
h1 {
  background-color: #fdbb40;
  padding-top: 50px;
  padding-bottom: 20px;
}

/* PARTE CENTRALE */
main {
  height: 450px;
}

#burger-name {
  font-size: 24px;
  border: none;
  outline: none;
}

h2 {
  font-weight: 400;
}

.coupon {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 16px;
}

#coupon-inserito {
  background-color: #fff5e2;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 5px;
  width: 500px;
  font-size: 12px;
}

.button-container {
  text-align: center;
}

#button-calculate {
  background-color: #fdbb40;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
}

/* PREZZO */
.price {
  background-color: #d33359;
  color: white;
  font-weight: bold;
  font-size: 26px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
